@import "misc"

$color1 = #29abe0
$color2 = #ef5c0e

html,
body
  width: 100%
  overflow-x: hidden
  font-family: "Open Sans"

nav
  
  .navbar-brand
    padding: 10px
    img
      height: 42px

nav.navbar
  border-bottom: 2px solid transparent
  background: $color1
  vendor("transition", border-color .5s ease)
  &.active
    border-color: $color2
  a
    color: #fff
    font("Open Sans", 1.6rem !important, center)
    &:hover
      color: $color1

section
  position: relative
  h2
    margin-bottom: 100px
    &:before
      left: 32%
    &:after
      right: 32%
    &:before,
    &:after
      content: "";
      width: 10%;
      height: 2px;
      background: $introcol;
      position: absolute;
      top: 50%;
      margin-top: -2px;
      box-shadow: 0 0px 0px rgba(255,255,255,1);
  h2, h3, h4, h5
    position: relative
    padding-top: 5px
    z-index: 25
    margin-top: 0px
    font-family: Wisdom
  h2 {font-size: 5rem}
  h3 {font-size: 3.5rem}
  h4 {font-size: 2rem}
  h5 {font-size: 1.3rem}
  .spaced
    margin-top: 120px
  .body-text
    font-size: 16px
  .tilt
    content: ""
    pointer-events: none
    position: absolute
    background: inherit
    top: 0
    left: 0
    z-index: 0
    -webkit-transform: translate3d(0,0,0)
    -webkit-transform-style: flat
    size(120%,60%)
    vendor("transform-origin", 0px 0px)
    vendor("transform", rotate(-8deg))

#intro
  overflow: hidden
  background: $color1
  size(100%, 800px)
  h1.intro-text
    line-height: 260px

#services
  background: #fff
  color: $color1
  padding-bottom: 275px
  .col-md-4
    padding: 0 35px 0 35px
    h3
      margin: 15px 0 15px 0
  .service-icon
    position: relative
    margin: 0 auto
    border: 2px solid $color1
    border-radius: 160px
    size(150px, 150px)
    i.fa
      display: block
      text-align: center
      line-height: 150px
      font-size: 8rem

#about
  background: $color1
  color: #fff
  padding-bottom: 275px
  .face-col
    border-right: 2px solid #fff
  .face
    position: relative
    margin: 0 auto
    border: 2px solid #fff
    border-radius: 160px
    overflow: hidden
    size(150px, 150px)
    img
      width: 100%
  .desc-col
    padding-left: 50px


#gallery
  background: #fff
  color: $color1
  padding-bottom: 275px
  img
    cursor: pointer
    position: relative
    width: 80%
    margin: 0 auto
    border: 2px solid $color1
    vendor("transition", border-color .5s ease)
    &:hover
      border-color: $color2


#testimonials
  background: $color1
  color: #fff
  padding-bottom: 275px
  blockquote
    border-left: 2px solid #fff


#contact
  background: #fff
  color: $color1
  padding-bottom: 200px
  font-size: 2rem
  span,i
    font-size: 3rem
  i
    margin-right: 20px
  a
    color: $color2


.modal-dialog
  width: 75%

.modal-content
  border-radius: 0px !important

.modal-header 
  border: none
  button
    outline: 0

.modal-body
  img 
    display: block
    width: 50%
    margin: 0 auto
    margin-bottom: 30px




footer
  border-top: 2px solid $color2
  padding: 20px 0 20px 0
  background: $color1
  color: #fff
  font("Open Sans", 1.5rem !important, center)
// @media 800px
